
@{
    ViewBag.Title = "GetAllUsers";
}

@model  List<DemoUserManagement.Models.UserDetailsModel>


<table id="userDetailsTable" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Password</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

<script type="text/javascript" src="~/Scripts/GetAllUsers.js"></script>
