
<h4>Add notes in this page</h4>

<div class="row">
    <div class="col-md-4">
        <input type="text" id="NotesInput" class="form-control" />
    </div>
    <div class="col-md-4">
        <button id="NotesBtn" class="btn btn-success">Save Notes</button>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="notesContainer">
                <table id="notesTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Notes ID</th>
                            <th>Note Text</th>
                            <th>Created Date</th>

                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@*<script type="text/javascript" src="~/Scripts/NotesPartialView.js"></script>
*@

<script type="text/javascript">

    jQuery.noConflict();
    jQuery(document).ready(function ($) {


        $('#notesTable').DataTable({
            processing: true,
            serverSide: true,
            filter: true,
            lengthMenu: [5, 10, 25, 50],
            ajax: {
                type: "Post",
                url: '@Url.Action("GetNotes", "Notes")',
                dataType: "json",
                data: function (d) {
                    // Add additional parameters to the data object
                    d.ObjectID = parseInt($("#NotesUserID").val());
                    d.ObjectType = parseInt($("#NotesObjectType").val());
                }
            },
            columns: [
                { "data": "NotesID", "name": "NotesID", "autowidth": true },
                { "data": "NoteText", "name": "NoteText", "autowidth": true },
                { "data": "CreatedDate", "name": "CreatedDate", "autowidth": true },

            ], columnDefs: [
                {
                    targets: [0],
                    searchable: false,
                    type: "num"
                }
            ]
        });

        $("#NotesBtn").click(function (event) {
            event.preventDefault();

            var noteText = $("#NotesInput").val();
            var notesUserID = parseInt($("#NotesUserID").val());
            var ObjectType = parseInt($("#NotesObjectType").val());
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveNote", "Notes")',
                data: JSON.stringify({ NoteText: noteText, UserID: notesUserID, ObjectType }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.success) {
                        location.reload();

                    } else {
                        // Handle failure

                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        });
    });
</script>