
@{
    ViewBag.Title = "Index";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mx-auto">
            <div id="successMessage"></div>
            <form id="appointmentForm">
                <h2 class="mb-4">Book Appointment</h2>

                <div class="form-group">
                    <label for="doctorSelect">Select Doctor</label>
                    <select class="form-control" id="doctorSelect" data-input="user-input">
                    </select>
                </div>
                <div class="form-group">
                    <label for="dateSelect">Select Date</label>
                    <input type="date" class="form-control" id="dateSelect" data-input="user-input">
                </div>
                <div class="form-group">
                    <label for="patientName">Your Name</label>
                    <input type="text" class="form-control" id="patientName" data-input="user-input" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="patientEmail">Your Email</label>
                    <input type="email" class="form-control" id="patientEmail" data-input="user-input" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="patientPhone">Your Phone</label>
                    <input type="tel" class="form-control" id="patientPhone" data-input="user-input" placeholder="Enter your phone number">
                </div>
                <div id="choosenSlot" data-choosen-slot-start-time=""></div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Book Appointment</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="slotModal" tabindex="-1" role="dialog" aria-labelledby="slotModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="slotModalLabel">Available Slots</h5>                
            </div>
            <div class="modal-body">
                <div id="slotContainer"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModalButton">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/Scripts/BookAppointment.js"></script>