body{
            
  padding: 0;
  margin: 0;
}

/* centering the form */
.form-design{
  width: 100%;
  height:100%;
  margin:auto;
  background-color: lavender;
}


.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
 } 

/* form styles*/
 h2{
  text-align: center;
  border-bottom:1px solid rgba(120,120,120,0.5);
  padding:4px;
  font-size: 30px;
  
 }
 form{
  
  padding:20px;
  margin:20px;
  border-radius:10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition-duration: 0.8s;
  background-color: white; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
 
}
 

/* layout for input elements */

.grid-container{
display: grid;
grid-template-columns: auto auto;
border: 1px solid black;
padding:10px;
grid-gap:12px;
}

.grid-item{
  position: relative;
}



/* icons inside the input */

input{
padding:5px;

transition-duration: 0.8s;

}

.input-container{
position:relative;
display: inline-block;
}

.fa-user,.fa-key,.fa-phone,.fa-envelope,.fa-briefcase{

color:rgb(120,120,120);
position:absolute;
left:10px;
top:15px;
font-size: 20px;
}


.input-container input{
padding-left:30px;
}

/* styling input */

input,textarea,select{
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 3px;
  outline: none;
  margin:5px;
  height: 30px;
}

/* styling submit button */ 

button{
  padding:5px 15px 5px 15px;
  border-radius:5px;
  background:green;
  border:none;
  cursor: pointer;
  font-size: large;
  color:white;

}
 
button:hover{
  box-shadow: 2px 5px 15px black;
}

button[type="submit"]{
  animation: sizeAnimation 2s infinite; /* 2s duration, infinite loop */
  margin-right:20px;
}



/* CSS for POPUP */
#pop-up{
  position: fixed;
  top:10%;
  left:50%;
  transform: translateX(-50%);
  background-color: white;
  padding:20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
  border-radius: 5px;
  display: none;
  font-size:25px;
  max-height:80vh;
  overflow: auto;
}


#pop-up button{
  float:right;
  margin-top:20px;
  font-size:20px;
}

.error-tip{
  color:red;
      position: absolute;
      left:25%;
      bottom:-12px;
}

@keyframes sizeAnimation {
      0% {
          transform: scale(1);
      }
      50% {
          transform: scale(1.3);
      }
      100% {
          transform: scale(1);
      }
  }

  
  
 /* responsiveness tab */
@media screen and (max-width:680px){
  

  .grid-container{
    grid-template-columns: auto;
  }
  .form-design {
    font-size:small;
  }
  
   input::placeholder,textarea::placeholder{
   
    font-size: small;
  }
  
  select,input{
    font-size: small;
  }

button{
font-size: x-small;
}

}
/* responsiveness phone */
@media screen and (max-width:395px){
  
 
  .form-design {
    font-size:xx-small;
  }


   input::placeholder,textarea::placeholder{
    font-size: xx-small;
    padding-left:2px;
  }
  .fa-user,.fa-key,.fa-phone,.fa-envelope,.fa-briefcase{
    font-size:xx-small;
  }
  select,input{
    font-size: xx-small;

  }
 
  textarea{
    width:150px;
    height:50px;
  }
  

}



