<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Form</title>
        <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- jQuery and AJAX -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
 
</head>
<body>
        <div id="navbar"></div>
        <div id="toastContainer" aria-live="polite" aria-atomic="true" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
                <div class="toast-header">
                    <strong class="mr-auto">Error</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">Invalid Transaction.</div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">Transaction Form</h2>
                        </div>
                        <div class="card-body">
                            <form id="transactionForm">
                                <div class="form-group">
                                    <label for="transactionType">Transaction Type:</label>
                                    <select id="transactionType" name="transactionType" class="form-control">
                                        <option value="IN">IN</option>
                                        <option value="OUT">OUT</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="airportName">Airport Name:</label>
                                    <select id="airportName" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label for="aircraftName">Aircraft Name:</label>
                                    <select id="aircraftName" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label for="quantity">Quantity:</label>
                                    <input type="number" id="quantity" name="quantity" class="form-control" placeholder="Enter Quantity">
                                </div>
                                <div class="form-group">
                                    <label for="parentID">Parent ID:</label>
                                    <input type="text" id="parentID" name="parentID" class="form-control" placeholder="Enter Parent ID">
                                </div>
                                <button type="submit" class="btn btn-success btn-block">Submit</button> <!-- btn-block class for full-width button -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    <script type="text/javascript" src="/Scripts/ReverseTransactionForm.js"> </script>
    <script src="/Scripts/common.js"></script>

</body>
</html>
