
@{
    ViewBag.Title = "GetDetailedAppointmentsForDoctor";
}


@if (TempData["doctorId"] != null)
{
    @Html.Hidden("doctorId", TempData["doctorId"])

}

@if (TempData["doctorName"] != null)
{
    @Html.Hidden("doctorName", TempData["doctorName"])

}


<div class="container mt-4">
    <h2>Appointment Detailed Report</h2>
    <button id="exportPdfBtn" class="btn btn-primary">Export to PDF</button>
    <div class="form-group">
        <label for="detailedDateInput">Select Month</label>
        <input type="month" class="form-control" id="detailedDateInput">
    </div>

    <table id="appointmentDetailedTable" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Patient Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- jsPDF library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
<!-- jsPDF AutoTable plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.12/jspdf.plugin.autotable.min.js"></script>

<script type="text/javascript" src="~/Scripts/appointmentDetailedReport.js"></script>